/* nav-link{
    
    color: aliceblue;
} */

.nav-link
{
    color: snow;
    
}

li .nav-link :hover{
    color: yellow;

}

body{
    background-image: url('../Images/congruent_outline.png'); 
/* background-repeat: no-repeat; */
/* background-size: cover; */

}
header{
    width: 100%;
    height: 100px;
    
    margin-bottom: 20px;
    background-color: transparent; 
 } 
 .card-header{
    background-color: gray;  
}

#aboutIntro{
 width: 100%;
 margin-bottom: 20px;
}
.eachMovie{
    float: left;
    margin: 5px;
    height: 300px;
    width: 175px;
    margin: 10px 20px 0px 20px;   
}
#movies{
    
    margin-bottom: 20px;
    padding: 0px;
    background-color: black;
}

#concerts{
    
    margin-bottom: 20px;
    /* margin-right: 15px; */
}

#moviesIntro{
    width: 100%;
    margin-bottom: 20px;
}

#moviesCard{
    width: 100%;
}
#movieInfo{
    /* float: left; */
    overflow-y: scroll;
    justify-content: center;
    padding: 0;
    
}

.movieResults{
    overflow-y: scroll;
    background-color: rgb(70, 61, 61);
    height: 500px;
    margin: 0px 15px 0px 15px ;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
} 

#movieOptions {
    width: 100%; 
    margin-bottom: 20px;
}

#concertOptions {
    width: 100%; 
    margin-bottom: 20px;

}

#eventsCard{
    width: 100%;
}

#concertIntro{
    width: 100%;
    margin-bottom: 20px;
}

footer {
    color: floralwhite;
    position: bottom;
    bottom: 10;
    width: 100%;
    text-align: center;
    border: solid grey 2px;

} 