/* nav-link{
    
    color: aliceblue;
} */


body{
    background-image: url('../Images/congruent_outline.png'); 
/* background-repeat: no-repeat; */
/* background-size: cover; */
}
/* .concertDisplayPosters{
    height: 200px;
    width: 205px;
} */

header{
    width: 100%;
    height: 100px;
    
    margin-bottom: 20px;
    background-color: transparent; 
 } 
 .card-header{

    background-color: lightgray;  
    margin: 0px;

    background-color: gray;  

}


#cardHeader {
    font-weight: bold;
    font-size: 20px;
    text-align: center;  
}

.searchRow {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 20px
}

.searchButton {
    color: aliceblue;
    border: solid 2px aliceblue;
}

#aboutIntro{
 width: 100%;
 margin-bottom: 20px;
}

.eachMovie{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    height: 300px;

    width: 100%;
    margin: 10px 20px 0px 20px;  
}
.eachConcert{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    height: 321px;
    width: 300px;
    margin: 10px 20px 0px 20px;
    width: 233px;
    flex-direction: column;
    margin: 10px 20px 0px 20px;
    align-items: unset;
    justify-content: space-between;   

}
#movies{
    
    margin-bottom: 20px;
    padding: 0px;
    background-color: black;
}

.movieTitle {
    color: aliceblue;
    margin-left: 13%;
}

#concerts{
    
    margin-bottom: 20px;
    /* margin-right: 15px; */
}
.concertResults{
    overflow-y: scroll;
    background-color: rgb(70, 61, 61);
    height: 500px;
    width:100%;
    margin: 0px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: baseline;
} 

.concertHTML{
    overflow-y: scroll;
    background-color: rgb(70, 61, 61);
    height: 500px;
    width:100%;
    margin: 0px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: baseline;
} 

.concertaddButton {
 color: aliceblue;
 background-color: rgb(70, 61, 61);
 font-weight:bold;
 margin-left: 13%;
 margin-bottom: 15px;
 
}

.movieaddButton {
color: aliceblue;
background-color: rgb(70, 61, 61);
font-weight:bold;
margin-left: 13%;
margin-bottom: 15px;

}

#moviesIntro{
    width: 100%;
    margin-bottom: 20px;
}

#moviesCard{
    width: 100%;
}
#movieInfo{
    /* float: left; */
    overflow-y: scroll;
    justify-content: center;

    padding: 0; 

    padding: 0;
    

}

.movieResults{
    overflow-y: scroll;
    background-color: rgb(70, 61, 61);
    height: 500px;
    width:100%;
    margin: 0px 15px 0px 15px ;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.movieHTML{
    overflow-y: scroll;
    background-color: rgb(70, 61, 61);
    height: 500px;
    width:100%;
    margin: 0px 15px 0px 15px ;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    align-items: center;
} 

#movieOptions {
    width: 100%; 
    margin-bottom: 20px;
}

#concertOptions {
    width: 100%; 
    margin-bottom: 20px;

}

#eventsCard{
    width: 100%;
}

#concertIntro{
    width: 100%;
    margin-bottom: 20px;
}

.scroller{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }



footer {
    margin-top: 30px;
    color: floralwhite;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: solid grey 2px;

} 